{% extends 'base.html.twig' %}

{% block title %}| {{ user.username }}{% endblock %}

{% set i = 0 %}

{% block main %}

    <main>
        <section>

            <article class="account_desc">

                <h2>Welcome {{ user.username }}</h2>


                <h3><a href="{{ path('app_logout') }}" class="underline">Logout !</a></h3>

                {% if "ROLE_ADMIN" in user.roles %}

                    <h4><a href="{{ path('admin') }}" class="colored  underline"> Admin Panel</a></h4>

                {% endif %}

            </article>

            <article class="account_informations">

                <ul class="rules_items">
                    <li>
                        <nav>
                            <label for="account__global"><span>Global Informations</span></label>
                            <input type="checkbox" id="account__global" class="rules_item">

                            <ul class="rules_items_expand  account_informations_items">
                                <li>
                                    <h4>Username</h4>

                                    <p>{{ user.username }}</p>

                                </li>
                                <li>
                                    <h4>Mail</h4>
                                    <p>{{ user.mail }}</p>
                                </li>
                                <li>
                                    <h4>Created At (French Format)</h4>
                                    <p>{{ date }}</p>
                                </li>
                            </ul>
                        </nav>

                        <nav>
                            <label for="account__skin"><span>Skin</span></label>
                            <input type="checkbox" id="account__skin" class="rules_item">

                            <ul class="rules_items_expand  account_informations_items account_informations_items_column">
                                <li>
                                    <h4>Skin</h4>

                                    {% if file_exists %}

                                        <img src="{{ asset('uploads/skins/skin-' ~ user.username ~ '.png') }}"
                                             alt="{{ 'uploads/skins/skin-' ~ user.username ~ '.jpg' }}">

                                    {% endif %}

                                    <form action="{{ path('app_account', { 'account': user.username}) }}"
                                          method="post" enctype="multipart/form-data">
                                        {{ form_start(fileform) }}
                                        {{ form_row(fileform.file, {
                                            label: 'Upload a skin',
                                        }) }}
                                        <button type="submit" class="btn">Upload</button>
                                        {{ form_end(fileform) }}
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </li>

                    <nav>
                        <label for="account__sanctions"><span>Sanctions</span></label>
                        <input type="checkbox" id="account__sanctions" class="rules_item">

                        <ul class="rules_items_expand  account_informations_items_infractions">
                            <li>
                                <h4>Sanctions</h4>

                                {% if infractions is defined %}

                                    {% for infraction in infractions %}
                                        <ul class="infraction_unit">

                                            {% if infraction.status %}

                                                {% set i = i + 1 %}

                                                <li class="infraction_component">{{ i }}</li>
                                                <li class="infraction_component">{{ infraction.type }}</li>
                                                <li class="infraction_component">{{ infraction.reason }}</li>
                                                <li class="infraction_component">{{ infraction.date.format('d/m/y') }}</li>

                                                {% if infraction.duration is not null %}
                                                    <li class="infraction_component">{{ infraction.duration }}</li>
                                                {% endif %}

                                            {% endif %}

                                        </ul>
                                    {% endfor %}

                                {% else %}
                                    <p>No Infractions</p>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>

                    <li>
                        <nav>
                            <label for="account__connexions"><span>Connexions</span></label>
                            <input type="checkbox" id="account__connexions" class="rules_item">

                            <ul class="rules_items_expand  account_informations_items">
                                <li>
                                    <h4>Link Code</h4>
                                    <p>{{ user.code }}</p>
                                </li>
                                <li>
                                    <h4>Discord</h4>
                                    {% if user.isLinked %}
                                        <p>You're linked !</p>
                                    {% else %}
                                        <p>You're not linked !</p>
                                    {% endif %}
                                </li>
                                <li>
                                    <h4>Minecraft</h4>
                                    {% if user.isLinked %}
                                        <p>You're linked !</p>
                                    {% else %}
                                        <p>You're not linked !</p>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </li>

                    <li>
                        <nav>
                            <label for="account__security"><span>Security</span></label>
                            <input type="checkbox" id="account__security" class="rules_item">

                            <ul class="rules_items_expand  account_informations_items_column">
                                <li>
                                    <h4>Change Password</h4>
                                    {{ form_start(form) }}
                                    {{ form_row(form.plainPassword, {
                                        label: 'New Password',
                                    }) }}
                                    {{ form_row(form.confirmPassword, {
                                        label: 'Confirm Password',
                                    }) }}

                                    <button type="submit" class="btn">Register</button>
                                    {{ form_end(form) }}
                                </li>
                            </ul>
                        </nav>
                    </li>
                </ul>
            </article>

        </section>
    </main>

{% endblock %}